.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  margin: 10px 14px;
  text-align: start;
  transition: 300ms all ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04);
}

.image__container {
  margin-bottom: 8px;
  position: relative;
}
.image__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  border-radius: 8px;
  opacity: 0;
  object-fit: cover;
  overflow: hidden;
  transition: all 450ms ease;
}

.book__now {
  padding: 14px 34px;
  border-radius: 24px;
  border: none;
  font-size: 24px;
  color: var(--bnbcolor);
  background-color: aliceblue;
  cursor: pointer;
  transition: opacity 300ms, transform 600ms ease;
  position: absolute;
  top: 35%;
  left: 25%;
  opacity: 0;
}

.image__container:hover .image {
  filter: blur(4px);
}

.card:hover .book__now {
  opacity: 1;
  transform: translateY(0);
}

.image__container:hover .image__background {
  opacity: 0.75;
}

.book__now:hover {
  opacity: 0.8;
}

.book__now:active {
  background-color: #242424;
  transition: 350ms all ease;
}

.image {
  object-fit: fill;
  object-position: center;
  border-radius: 6px;
  width: 100%;
  height: 200px;
}

.card__header {
  font-size: 20px;
}

.headerAndRatings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card__rating--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__rating {
  font-size: 20px;
  display: flex;
}

.rating {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-left: 10px;
}

.card__company,
.card__date {
  font-size: 16px;
  color: lightgrey;
  margin-bottom: 10px;
}

.card__date {
  color: grey;
}

.card__price {
  font-size: 20px;
  font-weight: 500;
}

.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.spinner__container {
  position: relative;
  width: 400px;
  height: 400px;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: var(--bnbcolor);
  animation: spinner 1200ms infinite linear;
  border-radius: 50%;
}

.spinner:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: var(--bnbcolor);
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1124px) {
  .card {
    width: 35%;
  }
}
@media (max-width: 1400px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%;
  }
}
