nav {
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: 1400px;
    width: 100%;
    padding: 20px 0;
}

.nav__logo {
    width: 200px;
}

.logo{
    width: 100%;
}

.nav__list {
    display: flex;
}

.nav__links {
    margin-left: 20px;
}

.nav__link {

}