nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 1400px;
  width: 100%;
  padding: 20px 10px;
}

.nav__logo {
  width: 200px;
}

.logo {
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__links {
  margin-left: 20px;
  transition: all 150ms ease-in-out;
}

.nav__link {
  font-size: 20px;
  color: var(--bnbcolor);
  font-weight: bold;
}

.booking {
  font-size: 24px;
  margin-right: 10px;
}

.nav__links:hover {
  transform: scale(1.08);
}

.contact {
  background-color: rgb(34, 202, 244);
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 200ms all ease;
  color: white;
  font-size: 20px;
}

.contact:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .nav__link:nth-child(1) {
    display: none;
  }
  .nav__container{
    margin: 0 10px;
  }
}
