.searchBar {
  padding: 5px 5px;
  border: 1px solid lightgray;
  border-radius: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.searchBar__input {
  outline: none;
  border: none;
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 24px;
  width: 400px;
  width: 100%;
}

.searchBar__button {
  display: flex;
  background: none;
  border: none;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: red;
}

.searchBar__button:hover {
  transform: scale(1.06);
}

@media (max-width: 1124px) {
  .searchBar {
    width: 100px;
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {
  .searchBar__input {
    font-size: 14px;
  }
  .searchBar {
    width: 100px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .searchBar__input {
    display: none;
  }
  .searchBar {
    display: none;
  }
}
