.test__container {
  padding: 10px;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-x: scroll;
  text-align: center;
}

.test__carousel {
  display: inline-flex;
  flex-wrap: nowrap;
  border: 1px solid lightgrey;
  padding: 16px;
  border-radius: 8px;
  overflow-x: hidden;
}

.test__header {
  margin-bottom: 28px;
}

.test__card {
  display: flex;
  width: 500px;
  border-right: 1px solid lightgrey;
}

.test__card:last-child {
  border: none;
}

.testImage__wrapper {
  width: 40%;
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.testImage {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.test__description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test__description {
  text-align: center;
  margin-right: 10px;
}

.test__name {
  font-size: 22px;
  margin-bottom: 10px;
}

.test__para {
  font-size: 16px;
  font-style: oblique;
  color: var(--bnbcolor);
}

.test__ratings {
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.rating {
  font-size: 16px;
}
