.test__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: visible;
  scroll-behavior: smooth;
  width: 100%;
}

.test__carousel {
  display: flex;
  border: 1px solid #242424;
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  margin:0 20px;

}

.test__header {
  margin-bottom: 28px;
}

.test__card {
  display: flex;
  width: 500px;
  height: 100px;
}

.testImage__wrapper {
  width: 40%;
  height: 100%;
  margin-right: 30px;
  margin-left: 30px;
}

.test__description {
  width: 60%;
}

.testImage {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.test__description {
  text-align: center;
  margin-right: 10px;
}

.test__name {
  font-size: 16px;
  margin-bottom: 10px;
}

.test__para {
  font-size: 14px;
  font-style: oblique;
}
