@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bnbcolor: rgb(34, 202, 244);
  --bnbbg: rgba(0, 0, 0, 0.025);
}

body {
  background-color: rgba(0, 0, 0, 0.025);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bnbcolor {
  color: var(--bnbcolor);
}

.bnbbg {
  background-color: var(--bnbbg);
}
