@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bnbcolor: rgb(34, 202, 244);
  --bnbbg: rgba(0, 0, 0, 0.025);
}

::-webkit-scrollbar {
  height: 10px; /* height of horizontal scrollbar  */
  width: 8px; /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
  padding-left: 10px;
}


::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #eeeeee;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #b0b0b0;
  margin-left: 10px;
}

body {
  background-color: rgba(0, 0, 0, 0.025);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bnbcolor {
  color: var(--bnbcolor);
}

.bnbbg {
  background-color: var(--bnbbg);
}
