footer {
  width: 100%;
  background-color: #242424;
  margin-top: 60px;
  padding: 0 4%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  text-align: center;
}

.footer__links {
  width: 30%;
  margin-bottom: 5px;
  transition: all 300ms ease;
}

.footer__logo--wrapper {
  width: 200px;
  height: 150px;
}

.footer__logo {
  width: 100%;
  height: 100%;
  height: 170px;
}

.footer__link {
  color: white;
  cursor: not-allowed;
}

.footer__links:hover{
transform: scale(1.06);
}
